# Le fichier .gitignore permet de gérér de façon globale les fichiers qui ne doivent
# pas être pris en compte par Git 
#

# Exemples
#

# Ignorer tous les fichiers utilent au finder de MacOS: '.DS_Store' 
#
*.DS_Store

# Les fichiers commençant par '.' sauf '.htaccess' et '.gitignore'
#
*.*
!.htaccess
!.gitignore
